name: todo-app

services:
  web:
    image: localhost/todo-web:latest
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "8080:80"
    environment:
      - API_URL=http://localhost:5000

  api:
    image: localhost/todo-api:latest
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "5000:8080"
    environment:
      - ConnectionStrings__TodoDb=Server=db;Database=TodoDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True;
      # - ASPNETCORE_HTTP_PORTS=80
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2025-latest
    environment:
      SA_PASSWORD: Your_password123
      ACCEPT_EULA: Y

    volumes:
      - todo-db-data:/var/opt/mssql

volumes:
  todo-db-data: